{
  "openapi": "3.1.0",
  "info": {
    "title": "ChittyOS GPT Connector API",
    "description": "Comprehensive API for connecting custom GPTs to ChittyOS services, third-party integrations, and banking connections",
    "version": "1.0.0",
    "contact": {
      "name": "ChittyOS Support",
      "url": "https://chitty.cc"
    }
  },
  "servers": [
    {
      "url": "https://connect.chitty.cc",
      "description": "Production ChittyConnect API"
    },
    {
      "url": "https://connect-staging.chitty.cc",
      "description": "Staging environment"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/chittyauth/verify": {
      "post": {
        "summary": "Verify Authentication",
        "description": "Verify authentication token or credentials",
        "operationId": "verifyAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittycases/create": {
      "post": {
        "summary": "Create Legal Case",
        "description": "Create a new legal case in ChittyCases",
        "operationId": "createCase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "caseType": {
                    "type": "string",
                    "enum": [
                      "eviction",
                      "litigation",
                      "resolution",
                      "general"
                    ]
                  },
                  "metadata": {
                    "type": "object"
                  }
                },
                "required": [
                  "title",
                  "caseType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "caseId": {
                      "type": "string"
                    },
                    "chittyid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittychronicle": {
      "get": {
        "summary": "Chronicle Health Check",
        "description": "Check ChittyChronicle service health",
        "operationId": "chronicleHealthCheck",
        "tags": [
          "Chronicle"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/api/chittychronicle/audit/{entityId}": {
      "get": {
        "summary": "Get Audit Trail",
        "description": "Retrieve complete audit trail for entity",
        "operationId": "getChronicleAuditTrail",
        "tags": [
          "Chronicle"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "description": "Entity ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "description": "Entity type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit trail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChronicleEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittychronicle/events": {
      "get": {
        "summary": "Search Events",
        "description": "Search logged events with optional filters",
        "operationId": "searchChronicleEvents",
        "tags": [
          "Chronicle"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "Filter by service name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filter by action type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "pending"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Full-text search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 100)",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChronicleEvent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Log Event",
        "description": "Record an event in ChittyChronicle",
        "operationId": "logChronicleEvent",
        "tags": [
          "Chronicle"
        ],
        "x-openai-isConsequential": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChronicleEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event logged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittychronicle/health": {
      "get": {
        "summary": "Get Service Health",
        "description": "Retrieve health status for all services (24-hour window)",
        "operationId": "getChronicleServiceHealth",
        "tags": [
          "Chronicle"
        ],
        "responses": {
          "200": {
            "description": "Service health data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceHealth"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittychronicle/statistics": {
      "get": {
        "summary": "Get Statistics",
        "description": "Retrieve event statistics summary",
        "operationId": "getChronicleStatistics",
        "tags": [
          "Chronicle"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChronicleStatistics"
                }
              }
            }
          }
        }
      }
    },
    "/api/chittychronicle/timeline": {
      "get": {
        "summary": "Get Activity Timeline",
        "description": "Retrieve event counts grouped by time period",
        "operationId": "getChronicleTimeline",
        "tags": [
          "Chronicle"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "services",
            "in": "query",
            "description": "Comma-separated service names",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "Time grouping",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittycontextual/analyze": {
      "post": {
        "summary": "Analyze Context",
        "description": "Perform contextual analysis on provided data",
        "operationId": "analyzeContext",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "context": {
                    "type": "object"
                  },
                  "analysisType": {
                    "type": "string",
                    "enum": [
                      "sentiment",
                      "entities",
                      "legal",
                      "financial",
                      "comprehensive"
                    ]
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object"
                    },
                    "confidence": {
                      "type": "number"
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyevidence/ingest": {
      "post": {
        "summary": "Ingest Evidence",
        "description": "Ingest and process evidence files",
        "operationId": "ingestEvidence",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "caseId": {
                    "type": "string"
                  },
                  "evidenceType": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence ingested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evidenceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "extractedData": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyfinance/account/balance": {
      "get": {
        "summary": "Get Account Balance",
        "description": "Get balance for ChittyFinance account",
        "operationId": "getAccountBalance",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyfinance/banking/connect": {
      "post": {
        "summary": "Connect Banking Account",
        "description": "Connect external banking account via Plaid/Stripe",
        "operationId": "connectBankAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "plaid",
                      "stripe",
                      "direct"
                    ]
                  },
                  "publicToken": {
                    "type": "string",
                    "description": "Plaid public token or equivalent"
                  },
                  "accountDetails": {
                    "type": "object"
                  }
                },
                "required": [
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account connected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "bankName": {
                      "type": "string"
                    },
                    "lastFour": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyid/mint": {
      "post": {
        "summary": "Mint ChittyID",
        "description": "Create a new ChittyID for an entity",
        "operationId": "mintChittyID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "type": "string",
                    "enum": [
                      "PEO",
                      "PLACE",
                      "PROP",
                      "EVNT",
                      "AUTH",
                      "INFO",
                      "FACT",
                      "CONTEXT",
                      "ACTOR"
                    ],
                    "description": "Entity type for ChittyID"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional metadata for the entity"
                  }
                },
                "required": [
                  "entity"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ChittyID minted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChittyIDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyid/validate": {
      "post": {
        "summary": "Validate ChittyID",
        "description": "Validate a ChittyID format and checksum",
        "operationId": "validateChittyID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chittyid": {
                    "type": "string",
                    "description": "ChittyID to validate"
                  }
                },
                "required": [
                  "chittyid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "entity": {
                      "type": "string"
                    },
                    "sequence": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyquality": {
      "get": {
        "summary": "Quality Health Check",
        "description": "Check ChittyQuality service health",
        "operationId": "qualityHealthCheck",
        "tags": [
          "Quality"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/api/chittyquality/rules": {
      "get": {
        "summary": "Get Validation Rules",
        "description": "Retrieve current quality validation rules",
        "operationId": "getQualityValidationRules",
        "tags": [
          "Quality"
        ],
        "responses": {
          "200": {
            "description": "Validation rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draftPatterns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "junkContentPatterns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "minimumContentLength": {
                      "type": "integer"
                    },
                    "minimumWords": {
                      "type": "integer"
                    },
                    "minimumFileSize": {
                      "type": "integer"
                    },
                    "maximumFileSize": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyquality/validate": {
      "post": {
        "summary": "Validate Document",
        "description": "Analyze document for quality issues and return recommendation",
        "operationId": "validateDocument",
        "tags": [
          "Quality"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/chittyquality/validate/batch": {
      "post": {
        "summary": "Validate Multiple Documents",
        "description": "Batch validate documents and return summary",
        "operationId": "validateDocumentBatch",
        "tags": [
          "Quality"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DocumentInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch validation summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchValidationResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check API health status",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/registry/services": {
      "get": {
        "summary": "List Registry Services",
        "description": "Get all registered ChittyOS services from ChittyRegistry",
        "operationId": "listRegistryServices",
        "responses": {
          "200": {
            "description": "Services list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceInfo"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services/status": {
      "get": {
        "summary": "Check ChittyOS Services Status",
        "description": "Get health status of all ChittyOS services",
        "operationId": "getServicesStatus",
        "responses": {
          "200": {
            "description": "Service status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/thirdparty/neon/query": {
      "post": {
        "summary": "Query Neon Database",
        "description": "Execute SQL query on Neon database",
        "operationId": "queryNeon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "params": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "rowCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/thirdparty/notion/query": {
      "post": {
        "summary": "Query Notion Database",
        "description": "Query Notion database via ChittyConnect proxy",
        "operationId": "queryNotion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "databaseId": {
                    "type": "string"
                  },
                  "filter": {
                    "type": "object"
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "databaseId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ChittyOS-API-Key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChittyIDResponse": {
        "type": "object",
        "properties": {
          "chittyid": {
            "type": "string",
            "description": "Generated ChittyID"
          },
          "entity": {
            "type": "string"
          },
          "sequence": {
            "type": "string"
          },
          "checksum": {
            "type": "string"
          }
        }
      },
      "ServicesStatusResponse": {
        "type": "object",
        "properties": {
          "services": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "healthy",
                    "degraded",
                    "down"
                  ]
                },
                "url": {
                  "type": "string"
                },
                "lastChecked": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "ServiceInfo": {
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ChronicleEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "service": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_email": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "pending"
            ]
          },
          "integrations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChronicleEventInput": {
        "type": "object",
        "required": [
          "service",
          "action"
        ],
        "properties": {
          "service": {
            "type": "string",
            "description": "Service name"
          },
          "action": {
            "type": "string",
            "description": "Action performed"
          },
          "userId": {
            "type": "string"
          },
          "userEmail": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "description": "Additional context"
          },
          "integrations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Services triggered"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "pending"
            ],
            "default": "success"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "TimelineEntry": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "format": "date-time"
          },
          "service": {
            "type": "string"
          },
          "event_count": {
            "type": "integer"
          },
          "success_count": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          }
        }
      },
      "ChronicleStatistics": {
        "type": "object",
        "properties": {
          "total_events": {
            "type": "integer"
          },
          "service_count": {
            "type": "integer"
          },
          "user_count": {
            "type": "integer"
          },
          "success_count": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          }
        }
      },
      "ServiceHealth": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "total_events": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          },
          "error_rate": {
            "type": "number"
          },
          "last_event": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DocumentInput": {
        "type": "object",
        "required": [
          "filename",
          "content"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Document filename"
          },
          "filesize": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "content": {
            "type": "string",
            "description": "Document content text"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        }
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "passed": {
            "type": "boolean",
            "description": "Whether validation passed"
          },
          "confidence": {
            "type": "number",
            "description": "Confidence score (0.0-1.0)"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QualityIssue"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          },
          "recommendation": {
            "type": "string",
            "enum": [
              "approve",
              "quarantine",
              "reject"
            ],
            "description": "Quality gate recommendation"
          },
          "reasoning": {
            "type": "string",
            "description": "Explanation of recommendation"
          }
        }
      },
      "QualityIssue": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "draft_indicator",
              "junk_content",
              "incomplete",
              "duplicate",
              "size_limit",
              "missing_metadata"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "warning",
              "info"
            ]
          },
          "description": {
            "type": "string"
          },
          "pattern": {
            "type": "string"
          }
        }
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "filesize": {
            "type": "integer"
          },
          "extension": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer"
          },
          "wordCount": {
            "type": "integer"
          },
          "hasVersionNumber": {
            "type": "boolean"
          },
          "isDraft": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "BatchValidationResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "quarantined": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationResult"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Chronicle",
      "description": "Event logging and audit trail endpoints"
    },
    {
      "name": "Quality",
      "description": "Document quality validation endpoints"
    }
  ]
}
